.DS_Store
pom.xml.releaseBackup 
target/
dependency-reduced-pom.xml
*.ser
application.home_IS_UNDEFINEiD
README.md~
*.bin
*.releaseBackup
*.out
*~
.pydevproject
release.properties
.idea/
*.iml
*.prefs
*.settings/*
*.log
*.logs
*/*/logs
*/*/log
.project
.classpath
metastore_db
*.ipynb*
!/dl4j-examples/tutorials/*.ipynb
*-git.properties
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*dependency-reduced-pom.xml

# Specific for Nd4j
*.md5
*.pom
*.sha1
*.ser
*.so
*.iml
*.prefs
*.dylib
lib/
doc_sources/
doc_sources_*

*.pyc
.idea
